// app global css
@use '@dvijok/shared/css/colors.scss';

body {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}

.q-page-container {
  min-height: 100vh;
  background-color: var(--dvijok-muted);
}
