$primary: #2e68ff;
$secondary: #3061e2;
$accent: #7679ec;

$dark: #001240;
$dark-page: #051b54;

$positive: #157848;
$negative: #e53935;
$info: #01b9c8;
$warning: #f06d30;

$typography-font-family:
  'Inter',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  sans-serif;
